/* Navbar custom style  */
.navbar__custom__style{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon-custom{
    width: 40px;
    border: 1px solid blue;
    border-radius: 100%;
    cursor: pointer;
    
}

.toggler-profile{
    margin-top: 8rem; 
    margin-left: -5rem;
    transition: all .3s linear;
}

 
 
